# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
!terraform/terraform.tfvars.example
terraform/.terraform.lock.hcl
